body {
    font-family: Arial;
    text-align: center;
    background: #1e1e1e;
    color: white;
    margin-top: 80px;
}

input {
    padding: 10px;
    margin: 8px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}
